In [1]:
pip install panda

Collecting panda
  Downloading panda-0.3.1.tar.gz (5.8 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools in ./opt/anaconda3/lib/python3.9/site-packages (from panda) (63.4.1)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.9/site-packages (from panda) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->panda) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->panda) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->panda) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->panda) (1.26.11)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py) ... done
  Created wheel for panda: filename=panda-0.3.1-py3-none-any.whl size=7238 sha256=007578845f9aec46a2214a6af97c0234925520f1c1c6450de7a0769288b851c2
  Stored in directory: /Users/shub/Library/Caches/pip/wheels/6c/5a/a9/a28c87238ddcc61701224f538bedccc21c9e2b8bc6fa8fca0e
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt , date

In [3]:
hospital_data = pd.read_excel('HospitalDatabase.xlsx')
hospital_data.tail()

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English

In [4]:
hospital_data = pd.read_excel('HospitalDatabase.xlsx','Patients')
hospital_data.head()

   PatientID FirstName LastName             DateOfBirth Gender   Race Language
0          1     Lanni      Sue 1960-01-01 00:00:00.000   Male  White  English
1          2       Far    Myers 1985-11-15 02:08:42.090   Male  White  English
2          3   Devlin   Michael 1976-04-15 02:52:09.762   Male  White  English
3          4   Carmine    Texas 1968-10-15 03:32:13.635   Male  White  English
4          5     Tann      Bama 1962-05-01 19:12:58.950   Male  White  English

#test2